@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var student in Model)
        {
            <form action="@Url.Action("Update","CRUD",new {id = @student.ID})" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label">ID:</label>
                    <input asp-for="ID" type="number" class="form-control" value="@student.ID" disabled />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                    <input asp-for="Name" type="text" name="Name" class="form-control" value="@student.Name" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Age:</label>
                    <input asp-for="Age" type="number" name="Age" class="form-control" value="@student.Age" required />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Address:</label>
                    <input asp-for="Address" type="text" name="Address" class="form-control" value="@student.Address" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                    <select asp-for="Gender" type="text" name="Gender" class="form-select">
                        <option value="Male" @if (student.Gender == "Male") { @TempData["select"];}>Male</option>
                        <option value="Female" @if (student.Gender == "Female") {@TempData["select"];} > Female </option >
                    </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
</div>


