
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<p>@TempData["error"]</p>
<h1>List of Students</h1>
<a class="btn btn-success" href="@Url.Action("Create","CRUD")">Create a new record</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.ID</td>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Gender</td>
                <td>@student.Address</td>
                <td><a class="btn btn-info" href="@Url.Action("Details","CRUD",new {id = @student.ID})">Details</a></td>
            </tr>
        }
    </tbody>
</table>

